<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> ><! <![endif]-->
<html class='no-js'>
  <!-- <![endif] -->
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>О Компании Best Quest</title>
    <meta content='' name='description'>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/css/application.css" rel="stylesheet" type="text/css" />
    <script src="/js/modernizr-2.6.1.min.js" type="text/javascript"></script>
	<style>
		.about .l-header__submenu .item:hover>a{color:{{color.hex}}}
		.about .l-header__actions .order>a{background:{{color.hex}}}
		.about .l-header .logo-wrapper{background-color:{{color.hex}}}
		.about .l-section-home{
			background-image:-webkit-linear-gradient(transparent 0%, #232323 70%, #232323 100%),url("../img/about/bgs/bg-top.jpg");
			background-image:linear-gradient(transparent 0%, #232323 70%, #232323 100%),url("../img/about/bgs/bg-top.jpg");
			background-image:url("../img/about/bgs/bg-top.jpg");background-position:center;background-size:cover
		}
		.about .l-section-home .b-text-wrapper{background:rgba({{color.rgb.0}},{{color.rgb.1}},{{color.rgb.2}},0.8)}
		.about .l-section-home .b-text-wrapper.b-skew-top:before{border-bottom-color:rgba({{color.rgb.0}},{{color.rgb.1}},{{color.rgb.2}},0.8)}
		.about .l-section-home .b-text-wrapper.b-skew-bottom:after{border-top-color:rgba({{color.rgb.0}},{{color.rgb.1}},{{color.rgb.2}},0.8)}
		.about .l-section-descr{background-image:url("../img/about/bgs/bg-descr.jpg");background-position:center center}
		.about .l-section-narrow{background-image:url("../img/about/bgs/bg-narrow.jpg");background-position:0 -200px}
		.about .l-section-apply{background-image:url("../img/about/bgs/bg-apply.jpg");background-position:bottom left}
		.about input[type="button"],.about input[type="reset"],.about input[type="submit"],.about button,.about .s-button{background:{{color.hex}}}
		.about .s-title.main-color{color:{{color.hex}}}
		.about .b-bordered-block{border:3px solid {{color.hex}}}
		.about .b-order>.item:before{background:{{color.hex}}}
		.about .b-carousel .b-carousel__next:hover svg path,.about .b-carousel .b-carousel__next:hover svg polygon,.about .b-carousel .b-carousel__prev:hover svg path,.about .b-carousel .b-carousel__prev:hover svg polygon{fill:{{color.hex}}}
		.about svg.arrowNext path,.about svg.arrowNext polygon{fill:{{color.hex}}}
	</style>
  </head>
  <body class='about'>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <header class='l-header'>
      <div class='l-header__inner'>
        <a class='logo-wrapper small' href='/' id='logotype'>
          <h1 class='logotype'>
            <span class='active'>Best Quest</span>
            <span>Настоящие Игры</span>
          </h1>
        </a>
        <nav class='l-header__nav'>
          <ul class='l-header__menu'>
            <li class='item'>
              <a href="/">Проекты</a>
              <ul class='l-header__submenu js-slider-control'>
                {% for project_type in project_types %}
                  <li class='item'><a href="/?{{ project_type.name }}">{{ project_type.full_name }}</a></li>
                {% endfor %}
                <li class='item'><a href="/?excl">Эксклюзивный проект</a></li>
              </ul>
            <li class='item'>
              <a href="/about">О компании</a>
              <ul class='l-header__submenu'>
                <li class='item'><a href="/about#team">Команда</a></li>
                <li class='item'><a href="/about#clients">Клиенты</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class='l-header__actions'>
          <div class='phone'>(812) 574 65 12</div>
          <div class='phone'>(921) 976 38 76</div>
          <div class='l-header__email'><a href="mailto:info@best-quest.ru">info@best-quest.ru</a></div>
          <div class='social'>
            {% include 'social.html.twig' %}
          </div>
        </div>
      </div>
    </header>
    <main class='l-content'>
      <section class='l-section l-section-home'>
        <div class='b-text-wrapper b-skew b-skew-top b-skew-bottom'>
          <h1>Современные технологии тимбилдинга</h1>
        </div>
      </section>
      <section class='l-section l-section-order b-skew b-skew-top light'>
        <div class='b-text-wrapper'>
          <article>
            <h2 class='s-title'>О КОМПАНИИ</h2>
            <div class='column'>
              {% for one_text in left_text %}
				<p>{{one_text.text}}</p>
			  {% endfor %}
            </div>
			 <div class='column'>
              {% for one_text in right_text %}
				<p>{{one_text.text}}</p>
			  {% endfor %}
            </div>
          </article>
        </div>
      </section>
      <section class='l-section l-section-team b-skew b-skew-top dark' id='team'>
        <a name="team"></a><h2 class='s-title white'>Команда</h2>
        <div class='b-slider b-slider-team' id='projects'>
          <ul class='list'>
            {% for one_team in about_team %}
				<li class='item b-project'>
				  <div class='b-project__image--small' style='background-image: url(/img/about/team/{{one_team.photo}})'></div>
				  <div class='b-project__image' style='background-image: url(/img/about/team/{{one_team.photo}})'></div>
				  <div class='b-project__body'>
					<h3>{{one_team.name}}</h3>
					<strong class='position'>{{one_team.position}}</strong>
					<p>{{one_team.text}}</p>
				  </div>
				</li>
			{% endfor %}
          </ul>
          <div class='b-slider__next'>
            <svg enable-background='new 0 0 45.8 45.8' height='45px' space='preserve' version='1.1' viewbox='0 0 45.8 45.8' width='45px' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <path d='M32.4,23.7H12.1c-0.4,0-0.6-0.4-0.6-0.9c0-0.5,0.3-0.9,0.6-0.9h20.3c0.4,0,0.6,0.4,0.6,0.9&#x000A;    C33.1,23.3,32.8,23.7,32.4,23.7z' fill='#FFFFFF'></path>
                <path d='M22.9,45.8C10.3,45.8,0,35.5,0,22.9S10.3,0,22.9,0s22.9,10.3,22.9,22.9S35.5,45.8,22.9,45.8z M22.9,1.7&#x000A;    c-11.7,0-21.1,9.5-21.1,21.1C1.7,34.5,11.2,44,22.9,44C34.5,44,44,34.5,44,22.9C44,11.2,34.5,1.7,22.9,1.7z' fill='#FFFFFF'></path>
                <polygon fill='#FFFFFF' points='29.9,16.3 36.5,22.9 29.9,29.4   '></polygon>
              </g>
            </svg>
          </div>
          <div class='b-slider__prev'>
            <svg enable-background='new 0 0 45.8 45.8' height='45px' id='Layer_1' space='preserve' version='1.1' viewbox='0 0 45.8 45.8' width='45px' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <path d='M13.3,22.1h20.3c0.4,0,0.6,0.4,0.6,0.9c0,0.5-0.3,0.9-0.6,0.9H13.3c-0.4,0-0.6-0.4-0.6-0.9&#x000A;    C12.7,22.5,13,22.1,13.3,22.1z' fill='#FFFFFF'></path>
                <path d='M22.9,0c12.6,0,22.9,10.3,22.9,22.9S35.5,45.8,22.9,45.8C10.3,45.8,0,35.5,0,22.9S10.3,0,22.9,0z M22.9,44&#x000A;   C34.5,44,44,34.5,44,22.9c0-11.7-9.5-21.1-21.1-21.1c-11.7,0-21.1,9.5-21.1,21.1C1.7,34.5,11.2,44,22.9,44z' fill='#FFFFFF'></path>
                <polygon fill='#FFFFFF' points='15.8,29.5 9.2,22.9 15.8,16.3  '></polygon>
              </g>
            </svg>
          </div>
        </div>
      </section>
      <section class="l-section l-section-clients b-skew b-skew-top light" id="clients">
        <a name="clients"></a><h2 class="s-title">Клиенты</h2>
        <div class="b-clients">
          {% for one_partner in about_partners|batch(4) %}
		  <ul class="b-clients__list">
			{% for one_item in one_partner %}
				<li class="item">
				  <a href="{{one_item.href}}"><img width="{{one_item.size.0}}" height="{{one_item.size.1}}" src="/img/about/partners/{{one_item.img}}"></a>
				</li>
			{% endfor %}
		  </ul>
		  <br/><br/>
		  {% endfor %}
		<br/><br/>
        </div>
      </section>
    </main>
    <footer class='l-footer b-skew b-skew-top dark'>
      <div class='l-footer__inner'>
        <nav class='l-footer__nav'>
          <dl class='l-footer__menu'>
            <dt class='title'>Best Quest</dt>
            <dd class='item'><a href="/about#team">Команда</a></dd>
            <dd class='item'><a href="/about#clients">Клиенты</a></dd>
            <dd class='item'><a href="/about#partners">Партнеры</a></dd>
          </dl>
          <dl class='l-footer__menu'>
            <dt class='title'>Проекты</dt>
            {% for project_type in project_types %}
              <dd class='item'><a href="/?{{ project_type.name }}">{{ project_type.full_name }}</a></dd>
            {% endfor %}
            <dd class='item'><a href="/?excl">Эксклюзивный проект</a></dd>
          </dl>
          <dl class='l-footer__menu' id='contacts'>
            <dt class='title'>Контакты</dt>
            <dd class='item'>
              (812) 574 65 12
            </dd>
            <dd class='item'>
              (921) 976 38 76
            </dd>
            <dd class='item'>
              <a href='mailto:info@best-quest.ru'>info@best-quest.ru</a>
            </dd>
          </dl>
        </nav>
        <div class='createdby'>
          дизайн сайта<br/><strong><a href="http://formazon.com">formazon.com</a></strong>
        </div>
      </div>
    </footer>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
    </script>
    <script src="/js/plugins.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
	<!— Yandex.Metrika counter —>
    <script type="text/javascript">
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
     try {
     w.yaCounter30731098 = new Ya.Metrika({id:30731098,
     clickmap:true,
     trackLinks:true,
     accurateTrackBounce:true});
     } catch(e) { }
     });

     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/30731098" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!— /Yandex.Metrika counter —>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-25272388-1', 'auto');
     ga('send', 'pageview');
    </script>
  </body>
</html>
