{% extends "layout.html.twig" %}
{% block content %}
	<div class="container">
		<div class="one_main div50">
			<a href="/admin/add" class="add_project project_action">Добавить новый проект</a>
				<p>Выберите проект</p>
				<select id="select_project">
					{% for one_project in projects %}
						<option value="{{one_project.id}}">{{one_project.name}}</option>
					{% endfor %}
				</select>
				<p>Выберите действие</p>
				<a href="/admin/edit" class="select_project edit_project project_action">Редактировать</a>
				<a href="/admin/delete" class="select_project delete_project project_action">Удалить</a>
		</div>
		<div class="one_main div50">
			<a href="/admin/review_add" class="add_project project_action">Добавить отзыв</a>
			<p>Выберите отзыв</p>
			<select id="select_review">
				{% for one_review in reviews %}
					<option value="{{one_review.id}}" data-project="{{one_review.project_id}}">{{one_review.author_name}}</option>
				{% endfor %}
			</select>
			<p>Выберите действие</p>
			<a href="/admin/review_edit" class="select_review edit_project project_action">Редактировать</a>
			<a href="/admin/review_delete" class="select_review delete_project project_action">Удалить</a>
		</div>
		<div class="one_main about">
			<a href="/admin/about" class="edit_project project_action">Редактировать "О нас"</a>
		</div>
	</div>
<script>
	/* Добавляем отзывы к выбранному проекту */
	function add_reviews_option(project){
		for (var i=0; i<reviews.length; i++){
			if (reviews[i].getAttribute('data-project') == project){
				reviews_select.appendChild(reviews[i]);
			}
		}
	}
	/* Удалить все дочерние элементы */
	function removeChildren(node) {
		var children = node.childNodes;
	 
		while(children.length) {
			node.removeChild(children[0]);
		}
	}
	
	var selects = document.getElementsByClassName('select_project');
	var selected_project = document.getElementById('select_project');
	/* Редактировать и удалить проект */
	for (var i=0; i<selects.length; i++){
		selects[i].onclick = function(event){			
			event = event || window.event;
			event.preventDefault();
			var do_it = true;
			if (this.href.indexOf('delete') != -1 ){
				do_it = false;
				do_it = confirm("Вы точно хотите удалить проект?\n\rВосстановление невозможно");
			}
			if (do_it == true){
				window.location = this.href + "/" + selected_project.value;
			}
		}
	}
	
	
	var reviews_select = document.getElementById('select_review');
	var reviews_options = reviews_select.getElementsByTagName('OPTION');
	
	/* Закидываем все отзывы в массив, потом удалям из DOM */
	var reviews = new Array();
	for (var i=0; i<reviews_options.length; i++){
		reviews[i] = reviews_options[i];
	}
	removeChildren(reviews_select);

	add_reviews_option(selected_project.value);
	selected_project.onchange = function(){
		removeChildren(reviews_select);
		add_reviews_option(selected_project.value);
	}
	/* Редактировать и удалить отзыв */
	var review_action = document.getElementsByClassName('select_review');
	for (var i=0; i<review_action.length; i++){
		review_action[i].onclick = function(event){			
			event = event || window.event;
			event.preventDefault();
			var do_it = true;
			if (reviews_select.value){
				if (this.href.indexOf('delete') != -1 ){
					do_it = false;
					do_it = confirm("Вы точно хотите удалить отзыв?\n\rВосстановление невозможно");
				}
				if (do_it == true){
					window.location = this.href + "/" + reviews_select.value;
				}
			} else {
				alert('Не выбран отзыв');
			}
		}
	}
</script>
{% endblock %}